.navbar{
    margin-top: -107px;
}


.header .icons {
   margin-top: -107px;
}

.header .navbar
{
    margin-top: -107px;
}

.header .user-box
{
    margin-top: -145px;
}

.order-container .box p
{
    text-transform: initial;
}

.message-container .box-container .box p
{
    text-transform: initial;
}




